@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>MHRS 103</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link rel="apple-touch-icon" href="#">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="#">
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="#">
    <!-- Site CSS -->
    <link rel="stylesheet" href="#">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="#">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="#">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <!-- <div id="preloader">
        <div class="loader">
            <img src="images/preloader.gif" alt="" />
        </div>
    </div>end loader -->
    <!-- END LOADER -->
    <!-- Start About us -->
    <div id="about" class="about-box">
        <div class="about-a1">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- End About us -->

    <a href="#" id="scroll-to-top" class="new-btn-d br-2"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="~/health-theme-assets/js/jquery.min.js"></script>
    <script src="~/health-theme-assets/js/popper.min.js"></script>
    <script src="~/health-theme-assets/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/health-theme-assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/health-theme-assets/js/jquery.pogo-slider.min.js"></script>
    <script src="~/health-theme-assets/js/slider-index.js"></script>
    <script src="~/health-theme-assets/js/smoothscroll.js"></script>
    <script src="~/health-theme-assets/js/TweenMax.min.js"></script>
    <script src="~/health-theme-assets/js/main.js"></script>
    <script src="~/health-theme-assets/js/owl.carousel.min.js"></script>
    <script src="~/health-theme-assets/js/form-validator.min.js"></script>
    <script src="~/health-theme-assets/js/contact-form-script.js"></script>
    <script src="~/health-theme-assets/js/isotope.min.js"></script>
    <script src="~/health-theme-assets/js/images-loded.min.js"></script>
    <script src="~/health-theme-assets/js/custom.js"></script>
</body>
</html>